<nav>
  <div class="left-nav-buttons">
    <div>BlueBox</div>
  </div>
  <div class="center">
  </div>  
  <div class="right-nav-buttons">
    <button mat-mini-fab color="primary"><mat-icon>density_medium</mat-icon></button>
    <!--<button mat-flat-button color="primary" routerLink="/how-to" routerLinkActive="active" ariaCurrentWhenActive="page" id="how-to">(? How To Use This ?)</button>
    <button mat-flat-button color="primary" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
    <button mat-flat-button color="primary" routerLink="/board" routerLinkActive="active" ariaCurrentWhenActive="page">Public Board</button>
    <button mat-flat-button color="primary" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</button>-->
  </div>
</nav>

<div class="switch">
    <a routerLink="/answer" routerLinkActive="active" ariaCurrentWhenActive="page">Receive texts</a>
    <a routerLink="/question" routerLinkActive="active" ariaCurrentWhenActive="page">Submit texts</a>
</div>