/* You can add global styles to this file, and also import other style files 
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-bottom-align {
  display: none;
}

.mat-mdc-form-field-subscript-wrapper {
  border-bottom: 1px solid black;
}

::ng-deep textarea::placeholder {
  color: red;
  opacity: 0.1;
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-size: 20px;
}*/

